<h1>Log in</h1>

<ul>
  <% unless flash.now[:errors].nil?%>
    <% flash.now[:errors].each do |err_msg| %>
      <li><%= err_msg %></li>
    <% end %>
  <% end %>
</ul>

<form action="/session" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_username">Usernmae</label>
  <input type="text" name="user[username]" id="user_username">
  <br />

  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">
  <br />

  <input type="submit" value="Log in!" />
</form>
