# .gitignore

node_modules/
bundle.js
bundle.js.map

### Node ###

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

### Rails ###

capybara-*.html
/log
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.byebug_history


## Webpack:

/app/assets/javascripts/bundle.js
/app/assets/javascripts/bundle.js.map
