body {
  display: flex;
  justify-content: center;
}

#content {
  /*border-style: solid;*/
}

.todo-list-view {
  border-style: solid;
}

.todo-list-item-view {
  list-style: none;
  padding-left: 0;
}

.todo-detail-view {
  display: none;
}

.todo-detail-view.is-active {
  display: block;
}

.todo-form-view {
}

.title {
  font-weight: bold;
}
